*{
    background-color: crimson;
    color: whitesmoke;
    font-size: 1.1rem;
}
#dora{
    background-color: crimson;
    font-size: 5rem;
    color: whitesmoke;
    text-align: center;
}

table{
    background-color: crimson;
    color: whitesmoke;
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}